<!DOCTYPE html>
<html>
  <head>
    <title>Voting App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Voting App!</h1>
      <br>
      <form method="post" action="/">
        <button class="btn btn-default" type="button" onclick="window.location.href='{{ url_for('register') }}';">Register a User</button>
        <button class="btn btn-default" type="button" onclick="window.location.href='{{ url_for('makevote') }}'">Start a Vote</button>
        <p>Click <a href="/">here</a> to logout.</p>
      </form>
    </div>
    <br>
    <div class="container">
      <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html>